{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": false,
  "bracketSameLine": true,
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "trailingComma": "none",
  "arrowParens": "avoid"
}
